$primary: #ff008f;
$secondary: #9c1c90;
$accent: #ffe000;

.header,
.header table.container {
  background-color: $primary-color;
}

.footer,
.footer table.container {
  background-color: $secondary;
  color: white;
}

.sub-footer,
.sub-footer table.container {
  background-color: darken($secondary, 5);
}

.sub-footer p,
.sub-footer th,
.sub-footer a {
  color: $accent;
}

.header h2 {
  color: $accent;
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 0;
}

th.callout-inner.from-the-editor {
  background: lighten($secondary, 58);
  border: none;
  h3 {
    font-weight: 600;
    margin-top: 1rem;
  }
  p {
    font-size: 15px;
    line-height: 1.5;
  }
}

h1 + h2 {
  font-weight: 300;
  margin-top: -11px;
}

.article__content {
  margin-bottom: 4rem;
}

.footer th,
.footer p,
.sub-footer th,
.sub-footer p {
  font-size: 14px;
}

.footer p {
  color: white;
  width: 70%;
  margin-bottom: 1.1rem;
}
